{% extends "base.html" %}
{% block content %}
<p>Survey List Page</p>
{% for survey in surveys %}
    <p>
    {{ survey }}
    {{ survey.survey_date }}
    <a href="{% url 'detail_survey' pk=survey.id %}">설문조사 세부사항 보고 싶습니다..!</a>
    {% for survey_interest in survey_interests %}
        {% if survey.pk == survey_interest.survey_id %}
            좋아요 갯수!!!
            {{ survey_interest.count }}
            {% if survey_interest.member == member %}
                [[이미 좋아요 했음!]]
            {% endif %}
        {% endif %}
    {% endfor %}
    </p>
{% endfor %}
{% endblock %}